In [ ]:
%pip install jupyter-nebulagraph

In [1]:
%load_ext ngql

In [2]:
%ngql --address 127.0.0.1 --port 9669 --user root --password password

Connection Pool Created

                    Name
0       basketballplayer
1  demo_basketballplayer
2       demo_supplychain
3           freebase_15k
4          music_gateway
5                    nba
6                   news
7           supply_chain
8            supplychain

In [10]:
%ngql CREATE SPACE supply_chain(partition_num=1, replica_factor=1, vid_type=fixed_string(128));

Empty DataFrame
Columns: []
Index: []

In [3]:
%ngql USE supply_chain;

Empty DataFrame
Columns: []
Index: []

In [4]:
%%ngql

CREATE TAG IF NOT EXISTS car_model(name string, number string, year int, type string, engine_type string, size string, seats int);
CREATE TAG IF NOT EXISTS feature(name string, number string, type string, state string);
CREATE TAG IF NOT EXISTS `part`(name string, number string, price double, `date` string);
CREATE TAG IF NOT EXISTS supplier(name string, address string, contact string, phone_number string);

CREATE EDGE IF NOT EXISTS with_feature(version string);
CREATE EDGE IF NOT EXISTS is_composed_of(version string);
CREATE EDGE IF NOT EXISTS is_supplied_by(version string);

Empty DataFrame
Columns: []
Index: []

In [5]:
%ng_load --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/nodes_car_model.csv --tag car_model --vid 0 --props 1:name,2:number,3:year,4:type,5:engine_type,6:size,7:seats --space supply_chain --header

Parsed 10 vertices 'supply_chain' for tag 'car_model' in memory

Loading Vertices:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 10 of 10 vertices
Successfully loaded 10 vertices 'supply_chain' for tag 'car_model'

In [6]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/nodes_feature.csv --tag feature --vid 0 --props 1:name,2:number,3:type,4:state --space supply_chain`

Parsed 10 vertices 'supply_chain' for tag 'feature' in memory

Loading Vertices:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 10 of 10 vertices
Successfully loaded 10 vertices 'supply_chain' for tag 'feature'

In [7]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/nodes_part.csv --tag part --vid 0 --props 1:name,2:number,3:price,4:date --space supply_chain

Parsed 10 vertices 'supply_chain' for tag 'part' in memory

Loading Vertices:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 10 of 10 vertices
Successfully loaded 10 vertices 'supply_chain' for tag 'part'

In [8]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/nodes_supplier.csv --tag supplier --vid 0 --props 1:name,2:address,3:contact,4:phone_number --space supply_chain

Parsed 10 vertices 'supply_chain' for tag 'supplier' in memory

Loading Vertices:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 10 of 10 vertices
Successfully loaded 10 vertices 'supply_chain' for tag 'supplier'

In [9]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/with_feature.csv --edge with_feature --src 0 --dst 1 --props 2:version --space supply_chain

Parsed 49 edges 'supply_chain' for edge type 'with_feature' in memory

Loading Edges:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 49 of 49 edges
Successfully loaded 49 edges 'supply_chain' for edge type 'with_feature'

In [10]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/is_composed_of.csv --edge is_composed_of --src 0 --dst 1 --props 2:version --space supply_chain

Parsed 20 edges 'supply_chain' for edge type 'is_composed_of' in memory

Loading Edges:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 20 of 20 edges
Successfully loaded 20 edges 'supply_chain' for edge type 'is_composed_of'

In [11]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/supply_chain/tiny/is_supplied_by.csv --edge is_supplied_by --src 0 --dst 1 --props 2:version --space supply_chain

Parsed 20 edges 'supply_chain' for edge type 'is_supplied_by' in memory

Loading Edges:   0%|          | 0/1 [00:00<?, ?it/s]

Loaded 20 of 20 edges
Successfully loaded 20 edges 'supply_chain' for edge type 'is_supplied_by'

In [12]:
%ngql SUBMIT JOB STATS

   New Job Id
0          24

In [13]:
%ngql SHOW STATS

    Type            Name  Count
0    Tag       car_model     10
1    Tag         feature     10
2    Tag            part     10
3    Tag        supplier     10
4   Edge  is_composed_of     14
5   Edge  is_supplied_by     10
6   Edge    with_feature     38
7  Space        vertices     40
8  Space           edges     62